<div class='pokemon'>
  <h2 class='pokemon__title'>Name: </h2>
  <img class='pokemon__img' src='' alt='' width='300' height='250' />
  <h3 class='pokemon__posttitle'>Type: </h3>
  <ul class='stats'>
    <li class='stats__item'>
      <p class='stats__text'>Weight: </p>
      <p class='stats__value'></p>
    </li>
    <li class='stats__item'>
      <p class='stats__text'>Height: </p>
      <p class='stats__value'></p>
    </li>
    <li class='stats__item'>
      <p class='stats__text'>Hp: </p>
      <p class='stats__value'></p>
    </li>
    <li class='stats__item'>
      <p class='stats__text'>Defence: </p>
      <p class='stats__value'></p>
    </li>
    <li class='stats__item'>
      <p class='stats__text'>Speed: </p>
      <p class='stats__value'></p>
    </li>
  </ul>

  <ul class='abilities'>
    <li class='abilities__item'>
      <p class='abilities__text'>1</p>
    </li>
  </ul>
</div>